= turbo_frame_tag dom_id(message), class: "border-left pl-4 mt-4" do

  .pb-4{ class: chat_message_class(message) }
    %div
      .text-muted.small.text-nowrap.mt-2= message.created_at.localtime.to_formatted_s(:short)
      .flex-shrink-1.bg-light.rounded.py-2.px-3.mr-3
        .fw-light.small.fst-italic.mb-1= message.user.name
        = message.message_body
