.container
  .row
    .col-md-6
      .card
        .card
          = image_tag(@child.photo.variant(resize_to_limit: [555, 555]), class: "img-fluid" )
          .card-body
            %h5.card-title= @child.name
            %li.list-group-item.list-group-item-primary Parents
            %ul.list-group.list-group-flush
              - @child.users.each do |parent|
                %li.list-group-item= link_to parent.name, [@daycare, parent]
            = link_to "Edit", [:edit, @daycare, @child], class: "btn btn-secondary text-light mt-3"
