/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
/* line 8, app/assets/stylesheets/home.scss */
body {
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* line 14, app/assets/stylesheets/home.scss */
.xl-font {
  font-size: 24px;
}

/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
/* Carousel base class */
/* line 22, app/assets/stylesheets/home.scss */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
/* line 26, app/assets/stylesheets/home.scss */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
/* line 32, app/assets/stylesheets/home.scss */
.carousel-item {
  height: 32rem;
}

/* line 35, app/assets/stylesheets/home.scss */
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* MARKETING CONTENT
  -------------------------------------------------- */
/* line 46, app/assets/stylesheets/home.scss */
.light-grey-transparent {
  background-color: rgba(155, 155, 155, 0.5);
}

/* line 50, app/assets/stylesheets/home.scss */
#home-top-cover {
  background-image: url(/assets/crayons-blured-background-93aed0cea732ca7586778e0bce11768802dbe85e802224a0c86d4d0cd2fae4a2.jpg);
  background-size: cover;
  background-position: 0% 40%;
}

/* Center align the text within the three columns below the carousel */
/* line 57, app/assets/stylesheets/home.scss */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* line 61, app/assets/stylesheets/home.scss */
.marketing h2 {
  font-weight: 400;
}

/* rtl:begin:ignore */
/* line 65, app/assets/stylesheets/home.scss */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* rtl:end:ignore */
/* Featurettes
  ------------------------- */
/* line 75, app/assets/stylesheets/home.scss */
.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* line 80, app/assets/stylesheets/home.scss */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

/* Bootstrap
  ------------------------- */
/* line 90, app/assets/stylesheets/home.scss */
.form-group {
  margin-bottom: 1rem;
}

/* line 94, app/assets/stylesheets/home.scss */
label {
  margin-bottom: .5rem;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  /* line 104, app/assets/stylesheets/home.scss */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  /* line 110, app/assets/stylesheets/home.scss */
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  /* line 116, app/assets/stylesheets/home.scss */
  .featurette-heading {
    margin-top: 7rem;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
