<div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Monthly</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$9.99 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li class="fw-bold">Two week free trial, cancel anytime!</li>
          <li>Get started for a low price</li>
          <li>Full feature set!</li>
          <li>Credit Card Fees (2.9% + 30¢ per charge)</li>
          <li>0.80% ACH Transfers</li>
        </ul>
        <%= button_to "Start Free Trial", { controller: :stripe_sessions, action: "subscription_checkout", params: { price_id: ENV["MONTHLY_PLAN_KEY"] } }, { class: "w-100 btn btn-lg btn-primary" } %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Yearly</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$99 <small class="text-muted">/ year</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li class="fw-bold">Two week free trial, cancel anytime!</li>
          <li>Savings of $20 per year</li>
          <li>Full feature set!</li>
          <li>Credit Card Fees (2.9% + 30¢ per charge)</li>
          <li>0.80% ACH Transfers</li>
        </ul>
        <%= button_to "Start Free Trial", { controller: :stripe_sessions, action: "subscription_checkout", params: { price_id: ENV["ANNUAL_PLAN_KEY"] }}, { class: "w-100 btn btn-lg btn-primary" } %>
      </div>
    </div>
  </div>
</div>