<div class="container dashboard" id="daycare">
  <div class="row">
    <div class="col-md-6" id="children">
      <h2>Daycares</h2>
    </div>
    <div class="col-md-6" id="payments">
      <h2>Payments</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="guardians">
      <h2>Trends</h2>
    </div>
  </div>
</div>