<%= @stripe_customer.user.name %>, your Teensy Bit invoice was successfully paid!</h1>
<p>
  <div>
    Amount: <%= @stripe_invoice.total %>
  </div>
  <div>
    Date: <% @stripe_invoice.created_at %>
  </div>
  <div>
    <%= link_to "View Invoice", @stripe_invoice.hosted_invoice_url %>
  </div>
</p>
