= "#{@stripe_customer.user.name}, your Teensy Bit invoice was successfully paid!"

Amount: #{@stripe_invoice.total}

Date:
- @stripe_invoice.created_at
View Invoice
!= @stripe_invoice.hosted_invoice_url
