New contact message for Teensy Bit, for: #{@contact.name} #{@contact.email}
\===============================================
- if @contact.opt_in_emails.present?
  They signed up for emails!
- else
  They did not up for emails.
Begin Message:
= @contact.message
