<h1>New contact message for Teensy Bit, for: <%= @contact.name %> <%= mail_to @contact.email %></h1>
<% if @contact.opt_in_emails.present? %>
<h2>They signed up for emails!</h2>
<% else %>
<h2>They did not up for emails.</h2>
<% end %>
<p>
  <%= @contact.message %>
</p>