%h2 You have an unread message at Teensybit
%p= "You can read & respond by #{link_to 'clicking here', daycare_chat_url(@message.chat.provider.owned_daycare, @message.chat)}. It reads: "

%p= @message.message_body
