// Bootstrap Overides
$primary: #7DD1FF;
$danger: #e2666e;
$success: #15D6B6;
$info: #6698E8;
$warning: #eee845;

@import "bootstrap";

.form-control-file {
  @extend .form-control;
}

// messages

.chat-messages {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0
}

.chat-message-left {
  margin-right: auto
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto
}

.flex-grow-0 {
  flex-grow: 0!important;
}
.border-top {
  border-top: 1px solid #dee2e6!important;
}

legend {
  float: none;
}

// end messages

.btn-save-progress {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
