<!-- FOOTER -->
<footer class="container mt-5">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>&copy; <%= Date.today.year %> Teensy Bit, LLC. &middot; <%= link_to "Privacy", [:privacy_policy] %> &middot; <%= link_to "Terms", [:terms] %></p>
</footer>