/ FOOTER
%footer.container.mt-5
  %p.float-end
    %a{:href => "#"} Back to top
  %p
    © #{Date.today.year} Teensy Bit, LLC. · #{link_to "Privacy", [:privacy_policy]} · #{link_to "Terms", [:terms]}
